ul {
  list-style: none;
}
a {
  display: inline-block;
}

header {
  background-color: #025464;
  text-align: center;
  padding: 40px;
  color: #fff
}

h1 {
font-family: Sofia, sans-serif;
  font-size: 80px;
  text-shadow: 3px 3px 3px #ababab
}
h2 {  
  font-family: carters;
  font-size: 40px
  }
  
h3 {
  font-family: carters;
  font-size: 40px
}



nav {
  background-color: #E57C23;
  text-align: center;
  padding: 10px;
  font-family: Gidole;
  font-size: 30px
}

 p {
margin-right: 70px;
margin-left: 70px;
}


a {
  text-decoration: none;
}

footer {
  background-color: #E57C23;
  text-align: center;
  padding: 10px;
  color: #050505;
}
